<!DOCTYPE html>
<html>
<style>
  html { background-color: #004; color: white; }
  body { font-size: 250%; font-family: sans-serif; line-height: 150%; }
  #ontop { position: fixed; top: 20px; left: 20px; background-color: white; color: black }
</style>
<body>
  <%- content %>
  <div id="ontop"></div>
</body>
<script>
  let scrollUp = false;
  let scrollDown = false;

  let resetCount = 0;

  document.body.addEventListener('keydown', event => {
    keyEvent(event.key, true);
  });
  document.body.addEventListener('keyup', event => {
    keyEvent(event.key, false);
  });

  function keyEvent(key, isDown) {
    if (event.key === '-') {
      scrollDown = isDown;
    } else if (event.key === '=') {
      scrollUp = isDown;
    }
  }

  window.setInterval(() => {
    if (scrollUp && scrollDown) {
      if (resetCount++ > 30) {
        window.scrollTo(0, 0);
      }
    } else {
      resetCount = 0;
      if (scrollUp) {
        window.scrollBy(0, -5);
      } else if (scrollDown) {
        window.scrollBy(0, 5);
      } else {
        // skip
      }
    }
  }, 33);

  window.setInterval(() => {
    getAjax('/check?t=1', data => {
      if (data === 'new') {
        window.location.reload();
      }
    });
  }, 2000);


  window.setInterval(() => {
    getAjax('/check', data => {
      if (data === 'new' || data === 'missing') {
        window.location.reload();
      }
    });
  }, 5000);

  function getAjax(url, success) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url);
    xhr.onreadystatechange = function() {
        if (xhr.readyState>3 && xhr.status==200) success(xhr.responseText);
    };
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.send();
    return xhr;
  }

</script>
</html>
