<!DOCTYPE html>
<html>
<style>
  html { background-color: grey; color: white; }
  body { font-size: 200%; font-family: sans-serif; line-height: 150%; }
</style>
<body>
  <%- content %>
</body>
<script>
  let scrollUp = false;
  let scrollDown = false;

  document.body.addEventListener('keydown', event => {
    keyEvent(event.key, true);
  });
  document.body.addEventListener('keyup', event => {
    keyEvent(event.key, false);
  });

  function keyEvent(key, isDown) {
    if (event.key === '-') {
      scrollUp = isDown;
    } else if (event.key === '=') {
      scrollDown = isDown;
    }
  }

  window.setInterval(() => {
    if (scrollUp) {
      window.scrollBy(0, -10);
    } else if (scrollDown) {
      window.scrollBy(0, 10);
    } else {
      // skip
    }
  }, 100);

  window.setInterval(() => {
    getAjax('/check?t=1', data => {
      console.info(data);
      if (data === 'new') {
        window.location.reload();
      }
    })
  }, 2000);

  function getAjax(url, success) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url);
    xhr.onreadystatechange = function() {
        if (xhr.readyState>3 && xhr.status==200) success(xhr.responseText);
    };
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.send();
    return xhr;
  }

</script>
</html>